*
{
    margin: 0;

    font-family: 'Roboto', sans-serif;;
    
}


header
{
    color: rgba(0, 0, 0, 0.808);
    text-shadow: 10px 10px 10px rgb(255, 255, 255);
    background: url(https://img.freepik.com/fotos-gratis/cloudscape-fantastica_1232-490.jpg?w=740&t=st=1678830559~exp=1678831159~hmac=68db81da757993b6a6fab1e39afa661e83d2562cb29d83f5204b78af89c01f08);

    height: 400px;
    
    display: flex;
    flex-direction: column;
    
    text-align: center;
    justify-content: center;
    width: 740px;
    
}
main, footer, header
{
    background-color: rgb(228, 225, 225);
}

footer i
{
    background-color: rgb(255, 255, 255);;
}


header h1
{
    font-size: 60px;
    text-shadow: -10px black;
}

header p
{
    font-size: 24px;
  
}



#tecnologias
{
    
    
    background-position: 100px;
    display: flex;
    text-align: center;
    margin-top: 50px;
    
    border-left: solid 10px rebeccapurple;
    border-radius: 10px 10px;
    background-color: rgb(247, 245, 245);

    
  
}



#html, #css, #js
{
    margin-left: 20px;
}

/*HTML*/

#html
{
   
    margin-right: 10px;
    
}

#html img
{
    width: 50px;  
    margin-left: -5px;
    
}




.sobre
{
   
  
}


/*CSS*/
#css
{
    margin-left: 10px;

}


#css img
{
    
    width: 50px;  
}



/*JavaScript*/
#js
{
    margin-top: -5px;
    
    
}
#js img
{
   
    width: 100px;
    margin-right: 40px;
}


 
i
{
    font-size: 14px;
}
